:root{
    /* Navi */
    --navi-height: 2em;
    --navi-bgcolor: #fff;
    --navi-padding: 5px 10px;
    --navi-it-padding: 30px 10px;
    --navi-it-margin: 5px;
    --navi-it-width: 38px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222327;
}

* {
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    color:#000;
}

#container {
    height: 200vh;
}

#navi {
    height: var(--navi-height);
    width: 100%;
    position: fixed;
    bottom: calc(var(--navi-height) / 2);
}

#navi .content {
    display: flex;
    max-width: 480px;

    background-color: var(--navi-bgcolor);
    padding: var(--navi-padding);
    
    border-radius: 13px;
   

    text-align: center;
}

#navi .content input[type="radio"] {  }

#navi .content li a{
    cursor: pointer;
    padding: var(--navi-it-padding);
    max-width: var(--navi-it-width);
}

#navi .content li:hover {
    background-color: #00ff00;
}

#navi .month-cursor {

}

a:hover{
    --navi-height:3em;
    background-color: #000;
}

.row {
    height: 20vh;
    color:white;
}

.center-child-v{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-child-h{
    display: flex;
    justify-content: center;
}