/* #region Initialize */
@font-face {
    font-family: 'NanumG';
    src: url('../font/NanumGothic-Regular.ttf');
    font-style: normal;
}

::selection {
    background-color: lightpink;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222327;
}

* {
    font-family: NanumG;
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    color:#000;
}
/* #endregion Initialize */

/* #region Property */
.center-child-v{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-child-h{
    display: flex;
    justify-content: center;
}
/* #endregion Property */

/* #region Container */
#container {
    --con-inner-width:750px;

    background-color: wheat;
}

@media screen and (max-width: 940px) {
    #container {
        --con-inner-width:580px;
    }
}

@media screen and (max-width: 800px) {
    #container {
        --con-inner-width:500px;
    }
}

@media screen and (max-width: 600px) {
    #container {
        --con-inner-width:450px;
    }
}

@media screen and (max-width: 550px) {
    #container {
        --con-inner-width:430px;
    }
}

@media screen and (max-width: 500px) {
    #container {
        --con-inner-width:320px;
    }
}


/* #endregion */

/* #region Navigation */
#navi {
    --navi-height: 3.2em;
    --navi-bgcolor: #fff;
    --navi-padding: 10px 5px;
    --navi-ani-duration:0.5s;
    --item-padding: 5px 10px;
    --item-width: 13px;
    --item-selected-bgcolor: coral;
    --item-hover-bgcolor: lightgray;

    height: var(--navi-height);
    max-height: var(--navi-height);
    width: 100%;
    position: fixed;
    bottom: calc(var(--navi-height) / 2);
    z-index: 1000;
}

#navi .inner {
    box-shadow: 0 0 5px gray;
    padding: var(--navi-padding);
    background-color: var(--navi-bgcolor);
    border-radius: 13px;
}

#navi .inner .preview{
    padding: var(--item-padding);
    transition: max-width var(--navi-ani-duration);
    overflow: hidden;
    max-width: 100px;
}

#navi .inner .preview img{
    width: 100%;
    height: 100%;
}

#navi .inner ul {
    max-width: 0px;
    overflow: hidden;
    transition: max-width var(--navi-ani-duration);
}

#navi .inner input[type="checkbox"] { display: none; }

#navi .inner input[type="checkbox"]:checked + a {
    background-color: var(--item-selected-bgcolor);
}

#navi .inner li a{
    display: block;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: var(--item-padding);
    max-width: var(--item-width);
    width: var(--item-width);
}

#navi .inner li a:hover{
    background-color: var(--item-hover-bgcolor);
}

#navi .inner:hover ul {
    max-width: 500px;
}

#navi .inner:hover .preview {
    max-width: 0px;
    padding: 5px 0px;
    transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
    #navi {
        --item-width: 10px;
    }
}

/* #endregion Navigation */

/* #region Header */
header {
    --header-height: 4em;
    --header-color:#000;
    --header-bgcolor:#fff;
    --header-padding: 0.5em;
    --header-fontsize: 1.6em;
    height: var(--header-height);
    max-height: var(--header-height);
    padding: 0.6em 0;
}

header .inner {
    padding: 0.5em 0;
    background-color: var(--header-bgcolor);
    box-shadow: 0px 1px 10px .1px rgb(105, 105, 105);
    padding: 0.5em 0;
    width: var(--con-inner-width);
}

header a {
    color: var(--header-color);
    font-size: var(--header-fontsize);
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
/* #endregion Header */

/* #region Banner */
#banner {
    --banner-marginTop: 1em;
    --banner-title-size: 2em;
    --banner-bgcolor: rgb(255, 210, 126);

    margin-top: var(--banner-marginTop);

    text-align: center;
}

#banner .inner {
    background-color: var(--banner-bgcolor);
    width: var(--con-inner-width);
    height: var(--con-inner-width);
    line-height: var(--con-inner-width);
    /* padding: 2em 0; */
    font-size: var(--banner-title-size);
    font-weight: bold;
    box-shadow: 0px 0px 5px .2px #fff;

    border-radius: 50%;
}
/* #endregion Banner */

/* #region Content */
#content {
    --content-margin:2em 0em;
    --card-margin:2.3em;
    --card-bgcolor:#fff;
    --card-title-bgcolor:#fff;
    --card-paddingBottom: 1.5em;
    --card-title-size:1.4em;
    --card-title-padding: 1em;
    --row-padding:1.5em 0px;
    --row-margin: 0 1.5em;
    --row-hover-bgcolor:rgba(232, 232, 232, 0.7);
    --row-template: 100px 170px auto;
    --card-subtitle-size: 1.2em;
    --card-subtitle-paddingTop:1em;

    margin: var(--content-margin);
    text-align: center;
}

#content .card {
    margin: var(--card-margin);
    max-width: var(--con-inner-width);
    background-color: var(--card-bgcolor);
    padding-bottom: var(--card-paddingBottom);
    width: 100%;
    box-shadow: 0 0 7px .2px rgba(102, 102, 102, 0.5);
}

#content .card .title,  #content .card .title label{
    cursor: pointer;
    text-align: center;
}

#content .card .title {
    background-color: var(--card-title-bgcolor);
    font-size: var(--card-title-size);
    padding: var(--card-title-padding);
    box-shadow: 0px 1px 6px .2px lightgray;
    font-weight: bold;
    position:sticky;
    top:0px;
    left : 0px;
}

#content .card .post img{
    width: 100%;
    height: 100%;
}

#content .card .row {
    display: grid;
    margin:var(--row-margin);
    grid-template-columns: var(--row-template);
    border-bottom: 1px solid lightgray;
}

#content .card .row:hover {
    background-color: var(--row-hover-bgcolor);
}

#content .card .row[data-holiday="true"] .day-number {
    color: red;
}

#content .card .row[data-holiday="false"] .day-number {
    color: blue;
}

#content .card .row .day-number, .day-title, .comment {
    padding: var(--row-padding);
}

#content .card .row .comment {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content .card .row .day-title[href] { 
    text-decoration: underline; 
}

#content .card .title label::after{ 
    content: '월'; 
}

#content .card form {
    --submit-bgcolor:#fff;
    --submit-hover-bgcolor:rgb(228, 228, 228);

    margin: 1em;
}

#content .card form table {
    width: 75%;
    border-spacing: 10px;
}

#content .card form input:not([type="submit"]) {
    width: 100%;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    padding: 6px;
    outline: none;
    transition: all 0.3s;
}

#content .card form input[type="submit"]{
    background-color: var(--submit-bgcolor);
    border-radius: 8px;
    padding: .5em 2em;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}

#content .card form input[type="submit"]:hover {
    background-color: var(--submit-hover-bgcolor);
}

#content .card form input:not([type="submit"]):focus {
    box-shadow: 0px 0px 4px .2px coral;
}

@media screen and (max-width: 800px) {
    #content {
        --row-template: 100px auto;
    }
    #content .card .row .comment {
        display: none;
    }
}
/* #endregion Content */

/* #region Footer */
footer {
    --footer-bgcolor:#222327;
    --footer-padding: 3em 3em 6em 3em;
    --footer-color: rgb(181, 181, 181);
    background-color: var(--footer-bgcolor);
    padding: var(--footer-padding);
    text-align: center;
}
footer p, a {
    color:var(--footer-color)
}
/* #endregion Footer */